<h1><%= @leave_request.employee.name %></h1>

<p>Start Date: <%= @leave_request.start_date %></p>
<p>End Date: <%= @leave_request.end_date %></p>
<p>Reason: <%= @leave_request.reason %></p>

<% if user_signed_in? %>
    <%= link_to 'Edit Leave Request', edit_leave_request_path(@leave_request) %>
<% end %>

<%= link_to 'Back to Leave Requests', leave_requests_path %>
